*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
}

body{
    background-image: url(beautiful-girl-standing-viewpoint-koh-nangyuan-island-near-koh-tao-island-surat-thani-thailand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    
}

.logo{
   font-size: 26px;
   font-weight: bolder;
   color: #fff;
   text-transform: uppercase;
   position: relative;
   animation-name: example;
   animation-duration: .6s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.Logo{
    height:37px;
    width: 120px;
    text-align: center;
    padding: 6px;
}

@keyframes example{
    0%{
        font-size: 26px;
    }
    25%{
        font-size:28px ;
    }
    50%{
        font-size:30px ;
    }
    75%{
        font-size: 32px;
        }
    100%{
        font-size:34px ;
    }
}

.logo span{
    color:orange;
}

.navlink a {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 16px;
    margin: 25px;
}

.navbar a:hover{
     color: orange;
}

.navbar .icons{
    font-size:22px;
    color: #fff;
    cursor: pointer;
    
}

.navbar i:hover{
    color: orange;
}

.search-bar #search-button{
    width:250px;
    font-size: 14px;
    padding: 4px;
    border: none;
    border-radius: 4px;
}

.search-bar label{
    font-size: 18px;
    margin-left: 3px;
    color: #fff;
}

.search-bar label:hover{
    color: orange;
}


/*
.login-form{
   height: 350px;
   width: 320px;
   position: absolute;
   top: 100px;
   right: 24%;
   
   background-color: #fff;
   border: 1px solid #f4e9e9;
   border-radius: 10px;
}

.login-form h3{
    font-size: 24px;
    color: #444;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.login-form .button{
   display: block;
   width: 91%;
   margin-left: 16px;
   margin-top:15px ;
   padding:6px;
   font-weight: bold;
   color: white;
   background-color: orange;
   outline: none;
   border: 1px solid rgb(186, 183, 183);
   border-radius: 3px;

}

.login-form .box{ 
    display: block;
    font-size: 13px;
    border: 1px solid rgb(213, 209, 209);
    margin-left: 18px;
    margin-top: 10px;
    width: 85%;
    padding: 8px;
}

.login-form .password{
    margin-left: 15px;
    margin-top: 6px;
}

.login-form .register{
   margin-left: 15px;
   margin-top:6px ;
}

.login-form  a{
    color: orange;
}

.login-form #c-box{
    margin-top:20px ;
    margin-left: 15px;
    margin-bottom: 20px;

}

.login-form .password  a:hover{
    color: rgb(108, 105, 105);
    text-decoration: underline;
}
.login-form .register a:hover{
    color: rgb(108, 105, 105);
    text-decoration:underline ;
}

*/



.login-form{
    position: fixed;
    top:-100%; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}


.login-form form{
    margin: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    background: #fff;
    width: 22rem;

}

.login-form h3{
    font-size: 24px;
    color: #444;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
}

.login-form .button{
   display: block;
   width: 91%;
   margin-left: 16px;
   margin-top:15px ;
   padding:6px;
   font-weight: bold;
   color: white;
   background-color: orange;
   outline: none;
   border: 1px solid rgb(168, 166, 166);
   border-radius: 3px;

}

.login-form .box{ 
    display: block;
    font-size: 13px;
    border: 1px solid rgb(213, 209, 209);
    margin-left: 18px;
    margin-top: 10px;
    width: 85%;
    padding: 8px;
}

.login-form .password{
    margin-left: 15px;
    margin-top: 6px;
}

.login-form .register{
   margin-left: 15px;
   margin-top:6px ;
}

.login-form  a{
    color: orange;
}

.login-form #c-box{
    margin-top:20px ;
    margin-left: 15px;
    margin-bottom: 20px;

}

.login-form .password  a:hover{
    color: rgb(108, 105, 105);
    text-decoration: underline;
}
.login-form .register a:hover{
    color: rgb(108, 105, 105);
    text-decoration:underline ;
}

.login-form #form-close{
    position: absolute;
    top: 3rem; right: 3rem;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.content{
    height: 250px;
    width: 800px;
    position: absolute;
    top: 26%;
    left: 23%;
    text-align: center;
    /*border: 1px solid rgb(251, 248, 248);*/
    border-radius: 6px;
}

.content #btn1{
    font-size: 14px;
    padding: 8px;
    margin-top: 14px;
    border: none;
    border-radius:6px ;
    width: 16%;
    background-color: orange;
}

.content #btn1:hover{
    background-color: rgb(186, 89, 11);
}


.content #btn2{
    font-size: 14px;
    padding: 8px;
    margin-top: 14px;
    border: none;
    border-radius: 6px;
    width: 16%;
    
}
.content #btn1 a{
    color: #fff;
}

.content #btn2{
    background-color:#fff;
}

.content #btn2:hover{
    background: #a3a1a1;
}

.content #btn2 a{
    color: orange;
    margin-left:px;
}


.content #welcome{
    color: #fff;
    margin-top: 20px;
    font-size: 28px;
    text-shadow:2px 2px 4px #000000 ;
}

.content span{
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 30px;
    color:orange;
    text-shadow:2px 2px 4px #000000;
}

.content h3{
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 30px;
    color: #f4f2ef;
    text-shadow:2px 2px 4px #000000;
}

.content p{
   font-size: 20px;
   margin-top: 25px;
   color: #fff;
}

.image_section .img1{
    height: ;
}